# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.env

# PDF and large files
*.pdf

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
*.swp

# Logs
*.log

# FAISS index or temp db files (if generated)
index/
*.faiss
*.pkl
